/* Webfont: Lato-Black */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Black.woff2') format('woff2'),
        url('fonts/Lato-Black.woff') format('woff');
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Heavy.woff2') format('woff2'),
        url('fonts/Lato-Heavy.woff') format('woff');
    font-style: normal;
    font-weight: 800;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bold.woff2') format('woff2'),
        url('fonts/Lato-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Semibold.woff2') format('woff2'),
        url('fonts/Lato-Semibold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Medium.woff2') format('woff2'),
        url('fonts/Lato-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Regular */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.woff2') format('woff2'),
        url('fonts/Lato-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Light.woff2') format('woff2'),
        url('fonts/Lato-Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Thin.woff2') format('woff2'),
        url('fonts/Lato-Thin.woff') format('woff');
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Hairline */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Hairline.woff2') format('woff2'),
        url('fonts/Lato-Hairline.woff') format('woff');
    font-style: normal;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}